# fly.toml app configuration file generated for carmessageparserbot-winter-pine-6160 on 2025-04-21T17:12:12+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'carmessageparserbot-winter-pine-6160'
primary_region = 'fra'

[build]

[deploy]
  strategy = 'rolling'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_start_machines = true
  auto_stop_machines = false
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
